*{
    margin: 0px auto;
    color: white;
    font-family: sans-serif;
}
.nav{
    display: flex;
    width: 70%;
    justify-content: space-between;
    height: 30px;
    background-color: #333333;
    align-items: center;

    
}
.nav-links{
    display: flex;
    justify-content: center;
    flex: 2;
    list-style-type: none;
}
.nav-title{
    background-color: #333333;
    flex:1;
    font-size:20px;
    padding-left: 10px;
    
}

a{
    text-decoration: none;
}
.active{
    font-weight:bold ;
}
li{
    font-weight:400;
    font-family: 'Courier New', Courier, monospace;
}
.btn{
    background-color: #2B78E4;
    color: white;
    border: 1px solid black ;
    box-shadow: 2px 2px black;
    font-size: 10px;
    text-align: center;
    font-weight: bolder;

}