*{
    margin: 0px auto;
    padding: 0px;
    font-family: sans-serif;
}

header{
    font-size: 30px;
    padding: 20px;
    color: white;
    background-color: black;
    width: 50%;
}

.title{
    text-align: center;
    font-size: 30px;
    padding: 20px;
    color: black;
    background-color: white;
    width: 50%;
}

.container{
    display: flex;
    height: 1000px;
    width: 715px;
}

#pfp{
    height: 100px;
}

#side{
    display: flex;
    flex-direction: column;
    border: 3px solid black;
    align-items: center;
    justify-content: space-evenly;
    height: 350px;
    width: 200px;
    background-color: white;
    margin: 30px;
    margin-left: 0px;
    position: relative;

}

#top{
    display: flex;
    justify-content: center;
    align-items: center;
}

#top>button{
    text-align: center;
    font-weight: bold;
    width: 65px;
    height: 30px;
    background-color:#FFD966 ;
    color: black;
    border: 2px solid black;
    box-shadow: 2px 2px black;
    margin-bottom: 20px;
    padding: 0px 0px;
    margin-left: 30px;
}

button:hover{
    background-color:#FFD966 ;
    box-shadow: -2px -2px black;
}

#status{
    margin: 0px;
    background-color: white;
    border: 3px solid black;
    padding: 20px;
    width: 450px;
    margin-top: 30px;
    height: 100px;
    font-weight: bold;
}


#top>h3{
    font-size: 25px;
    margin-right: 60px;
}